@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";
@plugin "tailwindcss-signals";

@theme {
  --color-nuncare-green: #52d1c6;
  --color-nuncare-red: #b90e18;
  --font-franklin: "Libre Franklin", sans-serif;
}
